/*import fonts and external*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display');
@import url('components/button.css');
@import url('components/avatar.css');
@import url('components/banner.css');
@import url('components/card.css');


/*set css style for general / all pages*/

.container {
	width: 100%;
	margin: 25px;
	padding:25px;
	text-align: center;
	border-radius: 25px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

body{

	width: 100%;
	margin: 25px;
	padding:35px;
	text-align: center;
	background-color: rgba(159, 217, 241, 0.5);
	background-image: url(<img src="https://source.unsplash.com/user/ajufaan">);
	




}



.text-center {
	text-align: center;

}

body, p {
	font-family: 'Lato', sans-serif;
	color: rgba(40, 40, 40, 0.9);
}


.textclass{
	color:darkblue;
	font-family: 'Great Vibes', cursive;
	text-shadow: 2px #000000;
	 
	

}

 h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	color: rgba(40, 40, 40, 1);
	text-shadow: 4px #000000;
}

h1 {
	font-weight: bold;
}


}

a {
	text-decoration: none;
	margin-left: 0px;
}
